<div class="row">
  <div class="col-md-6">
    <h3>Mon, 19 Oct 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td> <td>Pre-workshop survey and Setup </td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td> </tr>
      <tr> <td>11:15</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tue, 20 Oct 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Setup </td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a></td> </tr>
      <tr> <td>11:15</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td>Introduction to R (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Wed, 21 Oct 2020</h3>
    <table class="table table-striped">
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a></td> </tr>
      <tr> <td>11:15</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td>Continuation of R: Data analysis and Visualization (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thu, 22 Oct 2020</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Setup </td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td> </tr>
      <tr> <td>11:15</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td>Post-workshop Survey</td> </tr>
      <tr> <td>11:45</td>  <td>Data Management with SQL (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>

